#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}


.webDevSection {
  padding-top: calc(100%);
}

@media (min-width: 640px) {

  .webDevSection {
    padding-top: calc(55%);
  }
}