#root {
  max-width: 2100px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}


.dark .socialMediaIcones {
  fill: black
}

.socialMediaIcones {
  fill: white;
}

.projectContainer, #projetDetailsContainer {
  scrollbar-width: none !important;
  scroll-snap-type: x mandatory;
  flex: 1 0 100%
}

@media (min-width: 740px) {
  
  .projectContainer {
    flex: 1 0 70%
  }
}

@media (min-width: 1024px) {
  
  .projectContainer {
    flex: 1 0 50%
  }
}

.projectContainer::-webkit-scrollbar, #projetDetailsContainer::-webkit-scrollbar {
  display: none !important;

}

.projectContainer > div, #projetDetailsContainer > div {
  scroll-snap-align: start;
}