#root {
  max-width: 2100px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}


.dark .socialMediaIcones {
  fill: black
}

.socialMediaIcones {
  fill: white;
}

.projectContainer {
  scrollbar-width: none !important;
  scroll-snap-type: x mandatory;
  flex: 1 0 100%
}

@media (min-width: 640px) {
  
  .projectContainer {
    flex: 1 0 50%
  }
}
/* @media (min-width: 768px) {
  
  .projectContainer {
    flex: 1 0 50%
  }
} */

.projectContainer::-webkit-scrollbar {
  display: none !important;

}

.projectContainer > div {
  scroll-snap-align: start;
}